.firstDiv{width: 70%;
    float:left;

}

.secondDiv	{width:90%;
    float: left;
    text-align:right;
    padding-bottom: 10%;
}


.logo	{width:20%;
height:auto;
padding-bottom:1%;
padding-left: 2%;
padding-right: 2%;
border-radius: 15%;
}


body{
background-color:wheat;
padding-right:10%;
padding-left: 10%;
}

p{color:rgb(5, 70, 5);
font-size: 1.1em;
text-align: justify;
font-weight: bold;
}

.contact{text-align: justify;
float: center;
padding-left: 30%;
padding-top: 5%;
border-radius: 50%;}

h1{text-align: center;
color: rgb(153, 4, 4);}

h3{text-align: center;
color:rgb(153, 4, 4);
font-size:1.3em;
padding-left: 10%;
}
h2{
text-align: center;
color:rgb(153, 4, 4);

}

.maps{
text-align: center;
width: 90%;
}

.team{
width: 200px;
border-radius: 100px;
height: 200px;
border-style: solid;
}

.nameP{
    color:rgb(5, 70, 5);
    font-size: 1.1em;
    text-align: right;
    }

